<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>ColoredVKHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.daniilpashin.coloredvk</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>id</key>
			<string>EnableTweak</string>
			<key>icon</key>
			<string>Enabled.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>CONFIGURATION</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ColoredVKListControllerConfig</string>
			<key>icon</key>
			<string>Settings.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Email</string>
			<key>icon</key>
			<string>Mail.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>sendMail:</string>
		</dict>
		<dict>
			<key>label</key>
			<string>iMessage</string>
			<key>icon</key>
			<string>iMessage.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>sendiMessage:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Tweet</string>
			<key>icon</key>
			<string>Twitter.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>tweet:</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Core Jailbreak (VK)</string>
			<key>icon</key>
			<string>coreJBLogo.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openCJBGroup:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
