<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.daniilpashin.coloredvk</string>
			<key>key</key>
			<string>enabledBlackKB</string>
			<key>label</key>
			<string>BLACK_KB</string>
		</dict>
		<dict>
			<key>label</key>
			<string>NAVIGATION_BAR</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.daniilpashin.coloredvk</string>
			<key>key</key>
			<string>enabledBarColor</string>
			<key>label</key>
			<string>BAR_COLOR</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>COLOR</string>
			<key>cellClass</key>
			<string>CVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.daniilpashin.coloredvk</string>
			<key>key</key>
			<string>enabledImage</string>
			<key>label</key>
			<string>ENABLED_IMAGE</string>
		</dict>
		<dict>
			<key>action</key>
			<string>chooseImage</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>IMAGE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.daniilpashin.coloredvk</string>
			<key>key</key>
			<string>showBar</string>
			<key>label</key>
			<string>SHOW_BAR</string>
		</dict>
		<dict>
			<key>label</key>
			<string>TOOLBAR</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.daniilpashin.coloredvk</string>
			<key>key</key>
			<string>enabledToolBarColor</string>
			<key>label</key>
			<string>TOOLBAR_COLOR</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>SELECT_FG_COLOR</string>
			<key>cellClass</key>
			<string>CVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>ToolBar</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>SELECT_BG_COLOR</string>
			<key>cellClass</key>
			<string>CVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>ToolBarBG</string>
		</dict>
		<dict>
			<key>label</key>
			<string>OTHER</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.daniilpashin.coloredvk</string>
			<key>key</key>
			<string>enabledBarButtonsColor</string>
			<key>label</key>
			<string>BAR_BUTTONS_COLOR</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>COLOR</string>
			<key>cellClass</key>
			<string>CVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>BarButtons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.daniilpashin.coloredvk</string>
			<key>key</key>
			<string>enabledWriteLineColor</string>
			<key>label</key>
			<string>WRITE_LINE_COLOR</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>COLOR</string>
			<key>cellClass</key>
			<string>CVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>WriteLine</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.daniilpashin.coloredvk</string>
			<key>key</key>
			<string>enabledSBColor</string>
			<key>label</key>
			<string>SB_COLOR</string>
		</dict>
		<dict>
			<key>action</key>
			<string>showColorPicker:</string>
			<key>label</key>
			<string>SELECT_FG_COLOR</string>
			<key>cellClass</key>
			<string>CVKColorCell</string>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>id</key>
			<string>SBColorFore</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>Configuration</string>
</dict>
</plist>
